@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;


.header {
  padding: 24px 0;
  background-color: $color-primary-light;

  &__row {
    @include flex(flex, center, space-between);
    gap: 40px;
  }

  &__logo {
    &-text {
      @extend %logo;
    }
  }

  &__nav {
    flex: 1;

    &-list {
      @include flex(flex, center);
      gap: 24px;
    }

    &-item {
      position: relative;
    }

    &-link {
      @include flex(inline-flex, center);
      gap: 4px;
      @extend %text;

      &:hover {
        color: $color-sale;
      }
    }

    &-arrow {
      @include size(12px, 12px);
      color: $color-primary-dark;

      &--open {
        transform: rotate(180deg);
      }
    }
  }

  &__dropdown {
    @extend %card-border;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 200px;
    background: $color-primary-light;
    padding: 8px 0;
    z-index: 100;

    &-item {
      padding: 0;

      a {
        display: block;
        padding: 10px 20px;
        @extend %text;

        &:hover {
          background: $color-primary;
        }
      }
    }
  }

  &__actions {
    @include flex (flex, center);
    gap: 14px;
    position: relative;
  }

  &__search {
    @include flex (flex, center);
    background: $color-primary;
    border-radius: $border-radius-xxl;
    padding: 4px 16px;
    margin-right: 26px;

    &-input {
      padding: 8px 8px 8px 4px;
      outline: none;
      width: 250px;

      &:focus {
        width: 480px;
      }

      &::placeholder {
        @extend %text-placeholder;
      }
    }

    &-icon {
      padding-right: 12px;
    }
  }

  &__cart {
    position: relative;
    padding: 4px;
    @include flex(flex, center, center);

    &-count {
      position: absolute;
      top: -5px;
      right: -5px;
      background: $color-sale;
      @extend %counter-text;
      @include size(18px, 18px);
      border-radius: $border-radius-full;
      @include flex(flex, center, center);
    }
  }

  &__profile {
    padding: 4px;
    @include flex(flex, center, center);
  }
}


.header__nav-link:hover .header__nav-arrow {
  color: $color-sale;
}