@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.promotion {
    padding: 10px 0;
    background-color: $color-primary-dark;
    opacity: 1;
    transform: translateY(0);

    &--closing {
        opacity: 0;
        transform: translateY(-20px);
    }

    &__row {
        @include flex(flex,center,space-between);
        width: 100%;
    }

    &__info {
        @include flex(flex,center);
        gap: 5px;
        margin: 0 auto;

    &-text {
        @extend %hint-text;
    }

    &-link {
        @extend %hint-link;

        &:hover {
            opacity: 0.8;
            }
        }
    }

    &__clear-btn {
        color: $color-primary-light;
        @include flex(flex,center,center);
        padding: 4px;

        &:hover {
            opacity: 0.7;
        }

        svg {
            width: 14px;
            height: 14px;
            fill: currentColor;
        }
    }
    
}