@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/placeholders' as *;

.main {
    position: relative;
    background-color: $color-primary;

    &__star {
        position: absolute;
        z-index: 2;
        pointer-events: none;

        &--small {
            top: 40%; //  примерно 431px от верха секции
            left: 52.4%; // (750 - 100) / 1240 * 100%
            @include size(56px,56px);
        }

        &--big {
            top: 20%; //  примерно 220px от верха секции
            right: 6.9%; //  (1440 - 1255) / 1440 * 100% ≈ 12.8% от правого края
            @include size(104px, 104px);
        }
    }

    &__hero {
        padding: 100px 0;
        display: flex;
        background-image: url('/images/main-bckg.png');
        background-size: 37% auto; 
        background-position: right bottom; 
        background-repeat: no-repeat; 
        margin-right: 60px;
        min-height: 400px; 

        &-content{
            row-gap: 28px;
            @include flex(grid,start);
            z-index: 1;
        }

        &-btn{
            @extend %hero-btn;
            padding: 15px 67px;
            width: fit-content;
            border-radius: $border-radius-xxl;
            margin-bottom: 16px;
        }
    }

    &__title{
        @extend %hero-title;
        line-height: $line-height-tight;
        max-width: 577px;
    }

    &__description{
        max-width: 555px;
        @extend %text-description;
    }

    &__benefits{
        display: flex;
        gap: 32px;
    }

    &__benefit{
        text-align: start;
        border-left: 2px solid rgba(0, 0, 0, 0.1);
        padding-left: 32px;

        &-title{
            @extend %card-title;
            line-height: $line-height-tight;
        }
        &-description{
            @extend %text-description;
        }
    }

    &__benefit:first-child{
        border-left: none;
        padding-left: 0;
    }

    &__brands-wrapper{
        padding: 43px 0;
        background-color: $color-primary-dark;
    }
    &__brands{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}