/* src/styles/global.scss */

@use './reset' as *;
@use './variables' as *;

.container {
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0;
}

* {
  transition: all $transition-slow;
}

html,
body,
script,
style,
link,
meta,
title,
head,
svg,
img,
video,
canvas,
iframe,
object,
embed,
input[type="range"],
progress,
meter {
  transition: none !important;
}

.no-transition {
  transition: none !important;
}

.transition-enabled {
  transition: all $transition-slow;
}

body {
  font-family: $font-family-primary;
  color: $color-primary-dark;
  background: $color-primary-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}